@import "tailwindcss";
@custom-variant hover (&:hover);

/* ============================================= -- Theme Configuration -- ============================================= */
@theme {
  --color-primary: #02314b;
  --color-secondary: #6599b8;
  --color-cream: #ebe5e3;
  --color-caramel: #bc8767;
  --color-cimarron: #89b6d1;

  --font-Vazir: "Vazir", Arial, Helvetica, sans-serif;
}
/* ============================================= -- Theme Configuration -- ============================================= */

/*! ============================================= -- Base Customization -- ============================================= */
@layer base {
  html {
    @apply scroll-smooth;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  input[type="number"]::-webkit-inner-spin-button {
    @apply appearance-none;
  }
  input[type="number"] {
    appearance: textfield;
  }
  input,
  textarea {
    @apply outline-0! transition-shadow;
  }
  input:focus,
  textarea:focus {
    @apply ring-2 ring-primary/20 ring-offset-0;
  }
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    @apply transition-all duration-9999999;
  }

  @font-face {
    font-family: "Vazir";
    font-display: swap;

    src:
      local("Vazir"),
      url("/fonts/Vazir/Medium.woff2") format("woff2");
  }
}
@utility container {
  @apply mx-auto px-5 xl:px-26;
}
/*! ============================================= -- Base Customization -- ============================================= */

/*? ============================================= -- Custom Utilities -- ============================================= */
@utility ltr {
  direction: ltr;
}
@utility rtl {
  direction: rtl;
}
/*? ============================================= -- Custom Utilities -- ============================================= */

/** ============================================= -- Custom Components -- ============================================= */
@utility flex-items-center {
  @apply flex items-center;
}
@utility flex-justify-center {
  @apply flex justify-center;
}
@utility flex-center {
  @apply flex-items-center justify-center;
}
@utility flex-start {
  @apply flex items-start justify-start;
}
@utility flex-end {
  @apply flex items-end justify-end;
}
/** ============================================= -- Custom Components -- ============================================= */

/* ============================================= -- Packages Customization -- ============================================= */
@layer base {
  /* PACKAGENAME */
  /* codes... */
}
/* ============================================= -- Packages Customization -- ============================================= */
